/* This is the main CSS for the NMVis website. */
html {
  height: 100vh; /* set viewport constraint */
  min-height: 100%; /* enforce height */

}
body {
  justify-content: center;
}

header {
  width: 100%;
  text-align: center;
  padding: 1em;
  padding-top: 2em;
}

.textInput {
  width: 100%;

  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

#submitButton {
  vertical-align: middle;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#visBox {
  width: 100vw;
  height: 80vh;
  justify-content: center;
  border: 1px solid lightgray;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#myVisBox {
  width: 100vw;
  height: 80vh;
  justify-content: center;
  border: 1px solid lightgray;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: none;
}

#progressBarBox {
  display: none;
  padding-top: 100px;
}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myProgressBar {
  width: 0%;
  height: 30px;
  background-color: #007bff;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

#graphDisplayBox {
  display: none;
  padding-top: 100px;
  padding-bottom: 50px;
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

.carousel i {
  color: black;
  font-size: 3em;
}

#loaderDiv {
  min-height: 60vh;
  display: none;
}

/* Loader Animation Start */
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin-top: 10%;
  margin-left: -60px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}
/* Loader Animation - End  */

/* Start of Motif Cards Section */
#motifTable {
  width: 100%;
}

#motifCards {
  display: none;
}

#motifCards h5, #motifCards h2 {
  text-align: center;
}

.mCard {
  border-color: black;
  height: 200px;
  max-height : 200px;
}

.btnPageGroup {
  width: 100%;
  justify-content: center;
  padding-bottom: 100px;
}

#prevPageBtn {
  outline-color: black;
  float: left;
  width: 48.5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

#prevPageBtn:disabled,
#prevPageBtn[disabled], #nextPageBtn:disabled,
#nextPageBtn[disabled] {
  opacity: 0;
}

#nextPageBtn {
  width: 48.5%;
  outline-color: black;
  float: right;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
/*  End of styles for motif section */
